<!DOCTYPE HTML>
<html> 
    <head>
        <title> SUMMER PROJECT </title>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <header>
            <div class="header-left" ><img class="head_img" src="nav.jpeg"></div>
            <div class="header-center">{{title}}</div>
            <div class="header-right">
                <ul class="nav-bar">
                    <li class="l1"><a href="/home">HOME</a></li>
                    <li class="l2"><a href="/contact">CONTACT</a></li>
                    <li class="l3"><a href="/experience">EXPERIENCE</a></li>
                    <li class="l4"><a href="/git">GIT REPO</a></li>
                    <li class="l5"><a href="/about">ABOUT</a></li>
                </ul>
            </div>
        </header>
        
        <div class="main">
            <aside class="left-sidebar">
                <h1>ihfihf'sfh ih'fhihs</h1>
            </aside>
            <section class="section">
                {{{body}}}
            </section>
            
            <aside class="right-sidebar">
                <h1>ihfihf'sfh ih'fhihs pwojpojw ohuubg nhhhh</h1>                
            </aside>
        </div>
        <footer>
            <div class="foot1">
                <p>Terms and Policy</p>
            </div>
            <div class="foot2">
                <span>F</span> <span>T</span> <span>G</span> <span>I</span>
            </div>
            <div class="myname">
                <p>www.vijith.com</p>                
            </div>
            <div class="foot3">
                <p>c Cpoy righjt 2017</p>                
            </div>                        
        </footer>
    </body>
</html>