
 <section>
    <div class="git">
        <div class="git-head">
            <h1> FOLLOWING ARE LINK FOR GIT REPOSITORIES FOR CLASS PROJECTS.</h1>
        </div>
        <ul class="git-ul">
            <li> <a href="">JS INHERITANCE</a> </li>
            <li> <a href=""> HTML CSS PROJECT</a> </li>
            <li> <a href="">CSS CHANLLENGE</a> </li>
            <li> <a href="">{{repos}}</a> </li>
            <li> <a href="">REPO 1</a> </li>
            <li> <a href="">REPO 1</a> </li>
            <li> <a href="">REPO 1</a> </li>
            <li> <a href="">REPO 1</a> </li>
            <li> <a href="">REPO 1</a> </li>
            <li> <a href="">REPO 1</a> </li>
            <li> <a href="">REPO 1</a> </li>
                          
        </ul>
    </div>
</section> 
